<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Select Taste</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="container-static">
        <h1>SELECT TASTE</h1>
        <form action="{{ url_for('select_rasa') }}" method="post">
            <div class="form-group">
                <select class="form-control" id="taste" name="rasa" required>
                    <option value="manis">Sweet</option>
                    <option value="pahit">Bitter</option>
                    <option value="kecut">Sour</option>
                </select>
            </div>
            <button type="submit">Next</button>
        </form>
    </div>
</body>
</html>
